<!doctype HTML>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/style.css" />
    <link rel="apple-touch-icon" sizes="57x57" href="images/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="images/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="images/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="images/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="images/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="images/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="images/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="images/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="images/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
    <link rel="manifest" href="images/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="images/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <meta name="twitter:card" content="app" />
    <meta name="twitter:title" content="Tribute Page for Jeef Bezos, the CEO of Amazon" />
    <meta name="twitter:description" content="Tribute Page for Jeef Bezos, the CEO of Amazon" />
    <meta property="twitter:image" content="images/jeff-bezos.jpg"/>
    <meta name="description" content="Tribute Page for Jeef Bezos, the CEO of Amazon" />
    <meta property="og:title" content="Tribute Page for Jeef Bezos, the CEO of Amazon" />
    <meta property="og:image" content="images/jeff-bezos.jpg" />
    <title>Tribute Page for Jeff Bezos</title>
</head>
<body>
<div class="container">
    <header id="top">
        <div class="row text-center">
        <div class="col-xl-12">
        <h1>Jeff Bezos</h1>
        </div>
        <div class="col-xl-12">
        <p>The CEO of Amazon</p>
        </div>
        </div>
    </header>
    <main>
        <div class="row">
        <div class="col-xl-12">
        <div class="quote-with-image text-center">
                <img src="images/jeff-bezos.jpg" class="img-fluid" alt="A picture of Jeff Bezos"><br /><br />
            <blockquote class="blockquote">
                <p class="mb-0">A brand for a company is like a reputation for a person. You earn reputation by trying to do hard things well.</p>
                <footer class="blockquote-footer text-right">Jeff Bezos</footer>
            </blockquote>
        </div>
        </div>
        </div><!--row-->
        <div class="row">
            <div class="col-xl-12 align-center">
<div class="list-group">
  <span href="#" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">1964</h5>
    </div>
    <p class="mb-1">Jeffrey Preston Bezos is born</p>
</span>
  <span href="#" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">1978</h5>
    </div>
    <p class="mb-1">Electrical engineering & computer science degrees from Princeton</p>
  </span>
  <span href="#" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">1982</h5>
    </div>
    <p class="mb-1">Graduates from high school as valedictorian</p>
  </span>
  <span href="#" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">1986</h5>
        </div>
        <p class="mb-1">Electrical engineering & computer science degrees from Princeton</p>
  </span>
  <span href="#" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">1988</h5>
        </div>
        <p class="mb-1">Hired as product manager at Bankers Trust</p>
  </span>
  <span href="#" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">1993</h5>
        </div>
        <p class="mb-1">Marries novelist MacKenzie Tuttle</p>
  </span>
  <span href="#" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">1994</h5>
        </div>
        <p class="mb-1">Founds Amazon as an online bookstore</p>
  </span>
  <span href="#" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">1997</h5>
        </div>
        <p class="mb-1">Takes Amazon public with IPO</p>
  </span>
  <span href="#" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">2000</h5>
        </div>
        <p class="mb-1">Found aerospace company Blue Origin</p>
  </span>
  <span href="#" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">2014</h5>
        </div>
        <p class="mb-1">World's best-performing CEO (HBR)</p>
  </span>
</div>
</div>
</div>
    </main>
    <footer id="footer" class="footer container text-center">
        <div class="row">
            <div class="col-xl-12 text-center">
        <a href="#top" class="btn">Scroll to Top</a>
    </div>
        </div>
    </footer>
</div>
</body>
</html>